@import mixins.sass
@import blueprint/reset.sass

table,th,td
  :border-left 1px #000 solid
  :border-top 1px #000 solid
th,td
  :margin 0px
  
body
  :font-family 'Helvetica', 'Arial', 'Tahoma', sans-serif
  :font-size 12px
  :line-height 1.5em
  //
    :background-image url('/images/12grid.png')
  
form
  :position relative
  :top 0.5em
  
textarea
  :height 5em
  
fieldset.inputs 
  :margin 1em
  
  .string
    input
      :width 5.75em
    input.long
      :width 20em
  
  ol
    :list-style none
    +branch_style_form(200px)
  li
    :min-height 2em
  label
    :font-size 1.5em