%h1 Items

%table
  - @items.each do |item|
    %tr
      %td= link_to item.name.cds, edit_item_path(item,:items_from => @items_from)
      /
        %td
          - semantic_form_for(item,:url => duplicate_item_path(item),:html => {:method => :post}) do |f|
            Duplicate to slot:
            = select(item,:slot_to_duplicate_to,(0...(@items.size)).to_a)
            = f.submit 'Duplicate'