- #team attack animation: drop in from the top, left to right. pause. left 2 part left, right 2 part right
!!!
%html
  %head
    %title Disgaea 2 Save Editor
    = stylesheet_link_tag 'compiled/application'
  %body
    - if flash.size > 0
      #flashes
        - flash.each_pair do |key,value|
          #flash{:id => key}= value
    = yield